.App-header {
  height: auto;
}

#main-display {
    float: left;
    width: 60%;
    display: inline-block;
}

#people-list {
    display: inline-block;
    float: left;
}

h2 {
  display: inline-block;
  font-size: 44px;
  font-weight: bold;
}

button {
  display: inline-block;
}

pre {
        font-family: "Courier 10 Pitch", Courier, monospace;
        font-size: 25%;
        line-height: 140%;
        white-space: pre;
        white-space: pre-wrap;
        white-space: -moz-pre-wrap;
        white-space: -o-pre-wrap;
    }       
    
code {
    font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
    font-size: 25%;
    line-height: 100%;
    white-space: pre;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
    background: #faf8f0;
}

#root code {
    display: block;
    padding: 0.5em 1em;
    border: 1px solid #bebab0;
}

#log {
	background-color: #D7D0D0;
	height: 400px;
	overflow-y: scroll;
}

#people-list {
    background-color: #D7D0D0;
    height: auto;
    overflow-y: scroll;
}
